[0;1;31m×[0m nginx.service - A high performance web server and a reverse proxy server
     Loaded: loaded (]8;;file://JPCoolingandHeating/usr/lib/systemd/system/nginx.service/usr/lib/systemd/system/nginx.service]8;;; [0;1;38;5;185mdisabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Fri 2024-07-26 18:48:49 UTC; 27s ago
   Duration: 11min 12.124s
       Docs: ]8;;man:nginx(8)man:nginx(8)]8;;
    Process: 29204 ExecStartPre=/usr/sbin/nginx -t -q -g daemon on; master_process on; [0;1;31m(code=exited, status=1/FAILURE)[0m
        CPU: 17ms

Jul 26 18:48:49 JPCoolingandHeating systemd[1]: Starting nginx.service - A high performance web server and a reverse proxy server...
Jul 26 18:48:49 JPCoolingandHeating nginx[29204]: 2024/07/26 18:48:49 [emerg] 29204#29204: cannot load certificate "/etc/ssl/certs/your_cert.crt": BIO_new_file() failed (SSL: error:80000002:system library::No such file or directory:calling fopen(/etc/ssl/certs/your_cert.crt, r) error:10000080:BIO routines::no such file)
Jul 26 18:48:49 JPCoolingandHeating nginx[29204]: nginx: configuration file /etc/nginx/nginx.conf test failed
Jul 26 18:48:49 JPCoolingandHeating systemd[1]: [0;1;39m[0;1;31m[0;1;39mnginx.service: Control process exited, code=exited, status=1/FAILURE[0m
Jul 26 18:48:49 JPCoolingandHeating systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mnginx.service: Failed with result 'exit-code'.[0m
Jul 26 18:48:49 JPCoolingandHeating systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start nginx.service - A high performance web server and a reverse proxy server.[0m
